<!DOCTYPE CSS>
h3{
  font-size:18px;
}

h1{
  font-size: 30px;
  font-style:serif;
  color: darkseagreen;
}

  
/* unvisited link */
a:link {
  color: lightblue;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: darkseagreen;
}

