<!DOCTYPE CSS>

.logo{
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 50px;
  margin-bottom: 15px;
}

h1{
  color:darkseagreen;
  webkit-font-smoothing: antialiased;
  font-size: 25px;
  display: inline;
  margin-bottom: 20px;
}

h2{
  margin-top: 15px;
  line-height: 20px;
}

.list{
  color:navy;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 15px;
}

.photos{
  display: center;
}

.margins{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.pic {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
  
/* unvisited link */
a:link {
  color: lightblue;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: darkseagreen;
}
