<!DOCTYPE CSS>

.logo {
  float: left;
  margin-left: 40px;
}
h1{
  color:black;
  font-size: 50px;
  margin-bottom: 50px;
  display: inline
}
h2{
  color:darkseagreen;
  font-size: 45px;
  margin left: 70px;
  display: inline
}


li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: inline-block
}


.list{
  display: inline
}
img{
  display: inline-block
} 

body {

}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: lightblue;
}
